/*
*  Weather Condition Classes
*/
.day {
  background-image: url("resource://com/fyralabs/Kairos/sunny.svg"), linear-gradient(0deg, mix(@accent_bg_color, white, 0.15), mix(black, mix(@accent_bg_color, white, 0.15), 0.88) 50%, mix(@accent_bg_color, white, 0.15));
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: mix(@accent_bg_color, white, 0.15);
  transition: background-color 600ms ease-in-out, background-image 600ms ease-in-out;
}
.night {
  background-image: url("resource://com/fyralabs/Kairos/night.svg"), linear-gradient(0deg, mix(@accent_bg_color, black, 0.25), mix(black, mix(@accent_bg_color, black, 0.25), 0.88) 50%, mix(@accent_bg_color, black, 0.25));
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: mix(@accent_bg_color, black, 0.25);
  transition: background-color 600ms ease-in-out, background-image 600ms ease-in-out;
}
.snow {
  background-image: url("resource://com/fyralabs/Kairos/snow.svg"), linear-gradient(0deg, mix(@accent_bg_color, white, 0.05), mix(black, mix(@accent_bg_color, white, 0.05), 0.88) 50%, mix(@accent_bg_color, white, 0.05));
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: mix(@accent_bg_color, white, 0.05);
  transition: background-color 600ms ease-in-out, background-image 600ms ease-in-out;
}
.cloudy {
  background-image: url("resource://com/fyralabs/Kairos/cloudy.svg"), linear-gradient(0deg, mix(@accent_bg_color, @window_bg_color, 0.20), mix(black, mix(@accent_bg_color, @window_bg_color, 0.20), 0.88) 50%, mix(@accent_bg_color, @window_bg_color, 0.20));
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: mix(@accent_bg_color, @window_bg_color, 0.20);
  transition: background-color 600ms ease-in-out, background-image 600ms ease-in-out;
}
.showers {
  background-image: url("resource://com/fyralabs/Kairos/rain.svg"), linear-gradient(0deg, mix(@accent_bg_color, @window_bg_color, 0.15), mix(black, mix(@accent_bg_color, @window_bg_color, 0.15), 0.88) 50%, mix(@accent_bg_color, @window_bg_color, 0.15));
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: mix(@accent_bg_color, @window_bg_color, 0.15);
  transition: background-color 600ms ease-in-out, background-image 600ms ease-in-out;
  animation: rain 1s linear infinite;
}
@keyframes rain {
  0% {
     background-position:
         0 0,
         0 0;
  }
  100% {
     background-position:
         0 0,
         400px 512px;
  }
}

/* White text for readability on colored weather backgrounds */
.day *,
.night *,
.cloudy *,
.snow *,
.showers * {
  color: white;
}

.temp-display {
  font-size: 42pt;
}
.temp-cond-display {
  font-size: 15pt;
}
.temp-feel-display {
  font-size: 15pt;
}

.scrim {
  padding: 0;
  margin: 0;
}

.block {
  background: alpha(@surface_dim_bg_color, 0.36);
  border-radius: 16px;
  padding: 4px;
}

.side-window-bg {
  margin: 6px;
  border-radius: 10px;
  background: alpha(white, 0.16);
  color: white;
  box-shadow: inset 0 0 0 1px alpha(white, 0.32), 0 2px 4px 0 alpha(black, 0.32);
}