.temp-display {
  font-size: 56px;
}
.temp-cond-display {
  font-size: 20px;
}
.temp-feel-display {
  color: @accent_container_bg_color;
  font-size: 20px;
}
.location-display {
  color: @accent_container_bg_color;
}
.search {
  border-radius: 999px;
}
.disclosure-button {
  transition: all 600ms ease-in-out;
  border-radius: 999px;
  box-shadow: 0 2px 3px 2px alpha(#2d2d2d, 0.10),
              inset 0 1px 0 1px alpha(#fafafa, 0.30),
              0 0 0 1px alpha(#2d2d2d, 0.20);
}
.disclosure-button button {
  background: alpha(#fafafa, 0.02);
}
.disclosure-button button:hover {
  background: alpha(#fafafa, 0.05);
}
.disclosure-button button:active {
  background: alpha(#fafafa, 0.14);
}

.block {
  background: alpha(#fafafa, 0.1);
  color: #fafafa;
  transition: all 600ms ease-in-out;
  box-shadow: 0 2px 3px 2px alpha(#2d2d2d, 0.10),
              inset 0 1px 0 1px alpha(#fafafa, 0.30),
              0 0 0 1px alpha(#2d2d2d, 0.20);
  border-radius: 6px;
}
.block-row row,
.block-row-child {
  color: #fafafa;
  background: none;
  border-radius: 6px;
}
.block-row row:selected {
  background: alpha(#fafafa, 0.1);
  color: #fafafa;
  transition: all 600ms ease-in-out;
  box-shadow: 0 2px 3px 2px alpha(#2d2d2d, 0.10),
              inset 0 1px 0 1px alpha(#fafafa, 0.30),
              0 0 0 1px alpha(#2d2d2d, 0.20);
}
.block-row row:selected .block {
  background: alpha(#fafafa, 0.1);
  box-shadow: none;
}
.block-button {
  background: alpha(#fafafa, 0.08);
  color: #fafafa;
  border-radius: 999px;
  transition: all 600ms ease-in-out;
  box-shadow: 0 2px 3px 2px alpha(#2d2d2d, 0.10),
              inset 0 1px 0 1px alpha(#fafafa, 0.30),
              0 0 0 1px alpha(#2d2d2d, 0.20);
}
.block-sidebar {
  background: alpha(#2d2d2d, 0.2);
  color: #fafafa;
  transition: all 600ms ease-in-out;
}
.block-button:hover {
  background: alpha(#fafafa, 0.14);
}
.block-button:active {
  background: alpha(#fafafa, 0.15);
}
.side-window-bg {
  background: alpha(mix(#fafafa, #2d2d2d, 0.98), 0.1);
}
.side-window-bg .flat-appbar {
  box-shadow: inset 0 2px 1px 0 alpha(#fafafa, 0.2);
}
.side-window-bg .close image,
.side-window-bg .image-text-button,
.side-window-bg .disclosure-button {
  color: #fafafa;
  background: alpha(#fafafa, 0.1);

}
.side-window-bg .close image {
  color: #fafafa;
  background: alpha(#fafafa, 0.1);
  box-shadow: 0 2px 3px 2px alpha(#2d2d2d, 0.10),
              inset 0 1px 0 1px alpha(#fafafa, 0.30),
              0 0 0 1px alpha(#2d2d2d, 0.20);
}
.side-window-bg .maximize image,
.side-window-bg .minimize image {
  color: #fafafa;
}

.scrim {
  color: #fafafa;
  padding: 0;
  margin: 0;
}
.scrim headerbar {
  color: #fafafa;
}
.scrim .close image,
.scrim .image-text-button,
.scrim .disclosure-button {
  color: #fafafa;
  background: alpha(#fafafa, 0.1);
}
.scrim .maximize image,
.scrim .minimize image {
  color: #fafafa;
}

.divider {
  margin: 0;
  background: alpha(#fafafa, 0.38);
}

link {
  color: @accent_container_bg_color;
  text-decoration-line: none;
  font-weight: 900;
}

.overlay-button {
  background: alpha(#fafafa, 0.08);
  color: #fafafa;
  transition: all 600ms ease-in-out;
  box-shadow: 0 2px 3px 2px alpha(#2d2d2d, 0.10),
              inset 0 1px 0 1px alpha(#fafafa, 0.30),
              0 0 0 1px alpha(#2d2d2d, 0.20);
}
.overlay-button:hover {
  background: alpha(#fafafa, 0.14);
  box-shadow: 0 4px 6px 4px alpha(#2d2d2d, 0.10),
              inset 0 1px 0 1px alpha(#fafafa, 0.30),
              0 0 0 1px alpha(#2d2d2d, 0.20);
}
.overlay-button:active {
  background: alpha(#fafafa, 0.15);
}


/* 
 * Upstream when done
 */
.mini-view-switcher {
  margin: 0;
  padding: 0;
}

.mini-view-switcher:disabled {
  color: alpha(#fafafa, 0.38);
}

.mini-view-switcher button.toggle {
  padding: 0;
  padding-bottom: 4px;
  margin-bottom: 2px;
  background: transparent;
  border-radius: 0;
}

.mini-view-switcher button.toggle label {
  font-weight: 400;
  font-size: 12pt;
  line-height: 14pt;
  color: #fafafa;
}

.mini-view-switcher button.toggle:hover {
  background: transparent;
  box-shadow: 0 2px 0 0 @accent_container_bg_color;
}

.mini-view-switcher button.toggle:checked {
  background: transparent;
  box-shadow: 0 2px 0 0 @accent_container_bg_color;
}

.mini-view-switcher button.toggle:checked label {
  font-weight: 700;
}

.mini-view-switcher button.toggle:checked:hover {
  background: transparent;
}
